.test_container {
  --color-testing-success: green;
  --color-testing-failure: red;
  --color-testing-working: white;

  padding: 0.5em;
  padding-top: 0.5em;
  border-radius: 1em;
  border: 1px solid var(--color-panel-back-detail);
}
.test_control_tray {
  display: flex;
  width: 100%;
}
.test_control_button {
  flex: 1;
  height: 3em;

  color: var(--color-panel-text);
}
.test_control_button:hover {
  color: var(--color-panel-text-active);
}
.test_control_button:disabled {
  color: var(--color-panel-text-disabled);
}

.test_list_container {
  display: flex;
  flex-direction: column;
}
.test_list_container:global(.empty) {
  display: none;
}
.test_list_container:global(.disabled) {
  opacity: 0.3;
  pointer-events: none;
}
.test_list_scroll_container {
  border-radius: 1em;
  border: 1px solid var(--color-panel-text);
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.test_list {
  display: flex;
  flex-direction: column;

  padding: 0.5em 0;
}

.test_list_add, .test_list_runall {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 1.8em;

  border-radius: 1em;
  border: 1px solid var(--color-panel-text);
  color: var(--color-panel-text);
}
.test_list_add:hover, .test_list_runall:hover {
  color: var(--color-panel-text-active);
}
.test_list_add:hover .test_list_count {
  opacity: 1;
}
.test_list_add:disabled, .test_list_runall:disabled {
  color: var(--color-panel-text-disabled);
}
.test_list_count {
  position: absolute;
  right: 1em;
  line-height: 1.8em;
  color: var(--color-panel-text);
  opacity: 0;

  transition: opacity 0.3s ease 1s;
}
