.chart_container table {
  color: var(--color-panel-text);
}

.chart_container td, .chart_container th {
  margin: 0.2em;
  padding: 0.3em;

  border-radius: 0.5em;
  background: var(--color-panel-back-input);
}

.chart_container td {
  font-size: 1.2em;
  font-family: monospace;
  text-align: center;
}

.chart_key:global(.error), .chart_value:global(.error) {
  color: var(--color-panel-error);
}
