.table_container table {
  color: var(--color-panel-text);
}

.table_container td, .table_container th {
  margin: 0.2em;
  padding: 0.3em;

  border-radius: 0.5em;
  background: var(--color-panel-back-input);
}

.table_container td {
  font-size: 1.2em;
  font-family: monospace;
  text-align: center;
}

.table_entry:not(:global(.error)):global(.disabled), .table_axis_header:global(.disabled) {
  opacity: 0.3;
}
.table_entry:global(.error) {
  color: var(--color-panel-error);
}
