.panel_content {
  display: flex;
  flex-direction: column;
}
.panel_content > * {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 1rem;

  background: var(--color-toolbar-menu);
  border-bottom: 1px solid var(--color-toolbar-menu-detail);
  border-color: currentColor;
  outline-color: currentColor;

  color: var(--color-toolbar-text);
  transition: color 0.3s ease;
}
.panel_content > *:hover {
  color: var(--color-toolbar-text-active);
  background: var(--color-toolbar-menu-active);
  border-color: currentColor;
  outline-color: currentColor;
}
.panel_content > *:disabled {
  color: var(--color-toolbar-text-disabled);
  background: var(--color-toolbar-menu-disabled);
  border-color: currentColor;
  outline-color: currentColor;
}
.panel_content > * svg {
  padding: 0.5em 0;
  width: 8vmin;
  height: 100%;
}
