.module_button_list {
  display: flex;
  flex-direction: column;
}

.module_button {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.module_button {
  background: var(--color-toolbar-menu);
  border-bottom: 1px solid var(--color-toolbar-menu-detail);

  color: var(--color-toolbar-text);
  transition: color 0.3s ease;
}
.module_button:hover {
  color: var(--color-toolbar-text-active);
  background: var(--color-toolbar-menu-active);
}
.module_button:disabled {
  color: var(--color-toolbar-text-disabled);
  background: var(--color-toolbar-menu-disabled);
}
.module_button svg {
  padding: 0.5em 0;
  width: 16vmin;
}
.module_button label {
  padding: 0.5em 0;
  flex: 1;
  font-size: 6vmin;
  align-self: center;

  /* Override default icon button styles */
  position: relative;
  opacity: 1;
}
