.tape_container {
  --tape-text-size: 2em;

  --color-tape-text: black;
  --color-tape-back: rgba(200, 200, 200, 0.9);
  --color-tape-symbol-back: white;
  --color-tape-symbol-back-active: lightgray;
  --color-tape-symbol-back-disabled: lightgray;
  --color-tape-highlight: black;
  --color-tape-outline: darkgray;
  --color-tape-shadow: gold;

  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.tape_control_tray {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
