.list_container {
  display: flex;
}
.element_list {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.add_button {
  align-self: flex-start;
}
.add_button:hover {
  color: var(--color-panel-text-active);
}
